.newsletter {
  height: 60vh;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newsletter h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.newsletter .desc {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.newsletter .input-container {
  width: 50%;
  height: 3rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
}

.newsletter .input-container input {
  border: none;
  flex: 8;
  padding: 1rem;
}

.newsletter .input-container button {
  flex: 1;
  border: none;
  background-color: teal;
  color: white;
}
