.product-list h1 {
    margin: 20px;
}

.product-list .filter-container {
    display: flex;
    justify-content: space-between;
}

.product-list .filter {
    margin: 20px;
}

.product-list .filter-text {
    font-size: 20px;
    font-weight: 600;
    margin-right: 0.5rem;
}

.product-list select {
    padding: 0.5rem;
    margin-right: 0.5rem;
}