* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

/*announcement*/
.announcement .container {
  height: 30px;
  background-color: teal;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

/*navbar*/
.navbar .wrapper {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.navbar .wrapper .left {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar .wrapper .language {
  font-size: 14px;
  cursor: pointer;
}

.navbar .wrapper .search-container {
  border: 0.5px solid lightgray;
  display: flex;
  align-items: center;
  margin-left: 25px;
  padding: 5px;
}

.navbar .search-container input {
  border: none;
}

.navbar .wrapper .center {
  flex: 1;
  text-align: center;
}

.navbar .wrapper .center h2 {
  font-weight: bold;
}

.navbar .wrapper .right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .wrapper .right .menu-item {
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}

/*Slider*/
.slider .container {
  width: 100%;
  height: 90vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.slider .container .arrow {
  width: 50px;
  height: 50px;
  background-color: rgba(229, 173, 173, 0.302);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s;
}

.slider .container .arrow:hover {
  color: white;
  background-color: rgba(229, 173, 173, 0.593);
}

.slider .container .arrow-left {
  left: 10px;
}

.slider .container .arrow-right {
  right: 10px;
}

.slider .wrapper {
  height: 100%;
  display: flex;
  transition: all 1.5s ease;
  transform: translateX(0);
}

.slider .wrapper .slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.slider .wrapper .slide .img-container {
  overflow: hidden;
  height: 100%;
  flex: 1;
}

.slider .slide .img-container img {
  height: 100%;
}

.slider .slide .info-container {
  flex: 1;
  padding: 50px;
}

.slider .slide .info-container h2 {
  font-size: 70px;
}
.slider .slide .info-container p {
  margin: 50px 0px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
}

.slider .slide .info-container button {
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}

/*categories*/
.categories {
  background-color: whitesmoke;
  padding: 1rem;
}

.categories > .title {
  text-align: center;
  padding: 1rem;
  padding-top: 4rem;
  width: fit-content;
  margin-inline: auto;
}
.categories .container {
  display: flex;
}

.category-item {
  flex: 1;
  margin: 1rem;
}

.category-item .container {
  position: relative;
}

.category-item .container img {
  width: 100%;
}

.category-item .info {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.category-item:hover .info {
  background-color: rgba(0, 0, 0, 0.1);
}

.category-item .info .title {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
}

.category-item .info button {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.3s;
  background-color: rgba(245, 245, 245, 0.574);
}

.category-item .info button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
}

/*Products*/
.products {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  flex: 1;
  margin: 5px;
  min-width: 280px;
  height: 350px;
  display: flex;
  background-color: rgb(243, 249, 255);
  justify-content: center;
  align-items: center;
  position: relative;
}

.product:hover .info {
  opacity: 1;
}

.product img {
  height: 75%;
  z-index: 2;
}

.product .circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

.product .info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease;
  cursor: pointer;
}

.product .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  transition: all 0.3s ease;
}

.product .icon:hover {
  background-color: rgb(243, 249, 255);
  transform: scale(1.3);
}

.newsletter {
  height: 60vh;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newsletter h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.newsletter .desc {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.newsletter .input-container {
  width: 50%;
  height: 3rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
}

.newsletter .input-container input {
  border: none;
  flex: 8;
  padding: 1rem;
}

.newsletter .input-container button {
  flex: 1;
  border: none;
  background-color: teal;
  color: white;
}

footer {
  display: flex;
}

