* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

/*announcement*/
.announcement .container {
  height: 30px;
  background-color: teal;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

/*navbar*/
.navbar .wrapper {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.navbar .wrapper .left {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar .wrapper .language {
  font-size: 14px;
  cursor: pointer;
}

.navbar .wrapper .search-container {
  border: 0.5px solid lightgray;
  display: flex;
  align-items: center;
  margin-left: 25px;
  padding: 5px;
}

.navbar .search-container input {
  border: none;
}

.navbar .wrapper .center {
  flex: 1;
  text-align: center;
}

.navbar .wrapper .center h2 {
  font-weight: bold;
}

.navbar .wrapper .right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .wrapper .right .menu-item {
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}

/*Slider*/
.slider .container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.slider .container .arrow {
  width: 50px;
  height: 50px;
  background-color: rgb(229, 173, 173);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  opacity: 0.5;
  z-index: 2;
}

.slider .container .arrow-left {
  left: 10px;
}

.slider .container .arrow-right {
  right: 10px;
}

.slider .wrapper {
  height: 100%;
  display: flex;
  transition: all 1.5s ease;
  transform: translateX(0);
}

.slider .wrapper .slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.slider .wrapper .slide .img-container {
  overflow: hidden;
  height: 100%;
  flex: 1;
}

.slider .slide .img-container img {
  height: 100%;
}

.slider .slide .info-container {
  flex: 1;
  padding: 50px;
}

.slider .slide .info-container h2 {
  font-size: 70px;
}
.slider .slide .info-container p {
  margin: 50px 0px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
}

.slider .slide .info-container button {
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}

/*categories*/
.categories .container {
  display: flex;
  padding: 20px;
}

.category-item .container {
  color: black;
}